body {
    background-color: rgb(255, 255, 255);
}

.logo {
    height: 40px;
    width: auto;
    margin-top: -8px;
}

html,
body {
    overflow-x: hidden;
}

#trojanLogoDiv {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#trojanLogoDiv img {
    max-width: 200px;
    height: auto;
}

#topSection {
    height: auto;
    background-image: url('https://plus.unsplash.com/premium_photo-1740505058305-636db2e8d1fc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fGRhdGElMjBjZW50ZXIlMjBkYXJrfGVufDB8fDB8fHww');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#introductionA {
    color: white;
}

#introductionA:hover {
    text-decoration-color: rgb(255, 215, 0);
}

#middleSection {
    padding-left: 4em;
    padding-right: 4em;
}

#navUl {
    width: 1%;
}

@media (max-width:769px) {
    #middleSection {
        padding-left: 1em;
        padding-right: 1em;
    }
}

#navUl {
    height: 20px;
}

#navTog {
    margin-right: 60px;
}

#navUl2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) {
    #navUl {
        display: none;
    }
}

@media (max-width: 575px) {
    #navButton {
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 1000;
    }

    #navUl {
        width: 100%;
    }

    #navUl2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 15px;
    }

    #navUl2 li {
        padding: 1em;
        width: 30%;
    }

    #navUl2 .lengthy {
        width: 50%;
    }
}

.navbar-nav {
    display: flex;
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#companyProfile {
    width: 25%;
    display: flex;
    justify-self: center;
    justify-content: center;
}

@media(max-width:770px) {
    #companyProfile {
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

.navbar-nav a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media(max-width: 660px) {
    .navbar-nav a {
        font-size: x-small;
    }
}

.navbar-nav:hover {
    transform: translateY(-2px);
}

#navUl li,
#navUl p {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#navMain {
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease;
    will-change: transform;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

@media(max-width:577px) {
    #navMain {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}

#navContainerFluid {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navLogo {
    height: 25px;
    padding-bottom: 5px;
}

img {
    width: 100%;
    height: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#navButton {
    margin-bottom: 0.5em;
    display: flex;
    align-self: flex-start;
    margin-right: 5px;
}

#navButton:focus,
#navButton:active {
    outline: none;
    box-shadow: none;
}

#navButton:active {
    background-color: #f1f1f1;
    border-color: #999;
    transform: scale(0.95);
    transition: all 0.2s ease;
}

#navButton .navbar-toggler-icon {
    margin-left: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 575px) {
    #navButton {
        display: flex;
        display: none !important;
    }
}

#CompProfileIcon {
    display: flex;
    align-self: center;
    padding-left: 5px;
}

header {
    display: flex;
    display: block;
    margin: 5em;
}

#main {
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
}

#introduction {
    height: auto;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.8);
}

#introductionA {
    display: flex;
    justify-content: center;
}

#navMain.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.fade-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhatWeDoText {
    height: 10px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.9);
}

.WhatWeDoText h5 {
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
}

@media(min-width:768px)and (max-width: 992px) {
    .WhatWeDoText h5 {
        font-size: medium;
        padding-bottom: 30px;
    }
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 230px;
    top: 0;
    left: 0;
    opacity: 0.5;

}

#topSection {
    background-color: rgb(245, 245, 245);
}

.col-sm {
    width: 30%;
}

/* what we do and travels */
/* what we do and travels */
/* what we do and travels */

#whatWeDoCol:hover,
#travelsCol:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(164, 159, 159, 0.2);
}

#whatWeDoCol,
#travelsCol {
    width: 95%;
    background: rgb(245, 245, 245);
    padding: 0px;
    padding-bottom: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 0.5px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    padding-bottom: 1em;
}

#whatWeDoCol {
    height: 280px;
    padding: 2px;
    padding-bottom: 0px;
}

.modal-fullscreen {
    height: auto;
    width: 100%;
}

.modal-header {
    width: 90%;
    padding-top: 2%;
    font-size: xx-large;
}

.expand-icon2 {
    position: absolute;
    width: 100%;
    height: 230px;
    top: 0;
    left: 0;
    border: 2.5px solid white;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: small;
}

.expand-icon2 button {
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 2px 4px;
    border-left: round;
    font-size: small;
    letter-spacing: 2px;
}

.expand-icon2 button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
}

.expand-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2.5px solid white;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: small;
}

.expand-icon button {
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 2px 4px;
    border-left: round;
    font-size: small;
    letter-spacing: 2px;
}

@media(max-width:767px) {
    #whatWeDoContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #whatWeDoCol {
        width: 100%;
        height: 300px;
        margin-bottom: 35px;
    }

    .modal-fullscreen {
        height: 100%;
    }

    .modal-header {
        padding-top: 10%;
    }

    .slideshow {
        width: 100%;
        position: relative;
        overflow: visible;
    }

    .slideshow img {
        height: 240px;
    }

    .expand-icon2 {
        position: absolute;
        height: 240px;
    }

    .WhatWeDoText {
        display: flex;
        align-self: center;
        padding-bottom: 15px;
    }

    #travels {
        margin-right: 15px;
    }
}

@media(max-width:992px) and (min-width:767px) {
    .slideshow img {
        height: 140px;
    }

    .expand-icon2 {
        position: absolute;
        height: 140px;
    }

    #whatWeDoCol {
        height: 182px;
    }
}

@media(max-width:767px) and (min-width:460px) {
    .slideshow img {
        height: 380px;
    }

    .expand-icon2 {
        position: absolute;
        height: 380px;
    }

    #whatWeDoCol {
        height: 430px;
    }
}

@media(max-width:460px) and (min-width:390px) {
    .slideshow img {
        height: 300px;
    }

    .expand-icon2 {
        position: absolute;
        height: 300px;
    }

    #whatWeDoCol {
        height: 350px;
    }
}

@media(max-width:390px) {
    .slideshow img {
        height: 260px;
    }

    .expand-icon2 {
        position: absolute;
        height: 260px;
    }

    #whatWeDoCol {
        height: 310px;
    }
}

@media(max-width:770px) {
    .modalImage {
        width: 100%;
        position: absolute;
        top: 20%;
        left: 0;
    }

    .modal-header {
        width: 90%;
        font-size: xx-large;
    }
}

/* FOUNDERS */
/* FOUNDERS */
/* FOUNDERS */
.founders-section {
    text-align: center;
    padding: 60px 20px;
}

.founders-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.founders-section .intro-text {
    color: #555;
    font-size: 1rem;
    margin-bottom: 40px;
}

.founders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
}

.founder-card {
    background: rgb(245, 245, 245);
    border-radius: 1em;
    padding: 13px;
    padding-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 0.5px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.founder-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 45px;
}

.founder-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.founder-card .role {
    color: #007BFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.founder-card .bio {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}

.founderBotton {
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background: rgb(245, 245, 245);
    padding-top: 5px;
}

.founderIcon {
    opacity: 0.7;
}

.founderIcon:hover {
    opacity: 1;
}

/* TRANSFORM */
/* TRANSFORM */
/* TRANSFORM */
/* TRANSFORM */
.founder-card:hover,
.whatWeDoneDiv:hover,
.partner-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(148, 144, 144, 0.3);
}

#foundersH2 {
    display: flex;
    justify-content: flex-start;
}

.founderText {
    color: rgba(0, 0, 0, 0.7);
}

.text-start {
    padding: 0px 10px;
}

@media(max-width:768px) {
    .founder-card {
        margin-bottom: 25px;
    }
}

/* MISSION */
/* MISSION */
/* MISSION */
/* MISSION */
#mission {
    display: flex;
    flex-direction: row;
}

.missionCol1 {
    border-left: 2px solid rgb(255, 196, 0);
    padding-left: 1em;
}

#missionCol2 {
    background-color: rgb(245, 245, 245);
    padding: 1em;
    border-radius: 1em;
}

@media(max-width:600px) {
    #mission {
        display: flex;
        flex-direction: column;
    }
}

/* PARTNERS */
/* PARTNERS */
/* PARTNERS */
/* PARTNERS */
.partner-card {
    background: rgb(245, 245, 245);
    border-radius: 1em;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 0.5px solid rgb(199, 199, 199);
}

.partner-card img {
    width: 100%;
    height: 60%;
    border-radius: 1em;
    object-fit: cover;
    margin-bottom: 15px;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
}


#gama {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sukumaLogo div {
    display: flex;
    flex-direction: row;
}

#sukumaLogo #div2 {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

#sukumaLogo div a span {
    display: flex;
    flex-direction: column;
}

#sukumaLogo div a span h5 {
    font-size: medium;
    line-height: 10px;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
}

.big {
    height: 60px;
    width: 60px;
}

.logoDiv a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoDiv a {
    font-size: medium;
}

.logoDiv a h5 {
    color: rgba(0, 0, 0, 0.5);
}

.partnersFirstRow1 div,
.partnersSecondRow div {
    color: rgba(0, 0, 0, 0.5);
}

.partnersFirstRow1 div img,
.partnersSecondRow div img {
    opacity: 0.5;
}

@media(max-width:805px) {

    .partnersFirstRow1 div,
    .partnersSecondRow div {
        display: flex;
        justify-content: flex-start;
    }

    #sukumaLogo {
        align-items: flex-start;
    }
}

@media(max-width:768px) {
    .partnersFirstRow1 div {
        width: 50%;
        justify-content: center;
    }

    .partnersFirstRow1 div h4 {
        display: flex;
        align-self: center;
    }

    .partnersFirstRow1 {
        justify-content: center;
    }

    .partnersSecondRow {
        justify-content: center;
    }

    .partnersSecondRow div {
        justify-content: center;
        width: 50%;
    }
}

/* SEPARATOR */
/* SEPARATOR */
/* SEPARATOR */
/* SEPARATOR */
.seperator {
    border-bottom: 0.5px solid rgb(255, 196, 0);
}

.mentions div div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1em;
}

.mentions div div div {
    box-shadow: 0 10px 10px rgba(164, 159, 159, 0.1);
}

.mentions div div div:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgba(164, 159, 159, 0.2);
}

.mentions div div h5 {
    font-size: small;
}

.mentions div div a {
    color: black;
    text-decoration: none;
}


#mentionEmpty {
    box-shadow: none;
}

@media(max-width:767px) {
    .mentions {
        margin-left: -7%;
    }

    .mentions h2 {
        margin-left: 7%;
    }

    .mentions div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mentions div div {
        width: 50%;
        display: flex;
        flex-direction: column;
        display: inline-block;
        margin: 0.5em;
    }

    .mentions div div div {
        width: 100%;
        margin-bottom: 10%;
        box-shadow: 0 10px 10px rgba(164, 159, 159, 0.2);
    }

    #mentionEmpty {
        display: none;
    }

}


#footer {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#footer div div div {
    padding-bottom: 1em;
    padding-left: 1em;
}

.footerDivWrap {
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

#footerFirstDiv {
    border-bottom: 0.5px solid rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 1.5em;
    width: 60%;
}

#footerFirstDiv div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerSecondDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    margin-top: 20px;
}

#footerSecondDiv div {
    padding-right: 2em;
}

.ReachOutIcon {
    font-size: xx-large;
}

.ReachOutIcon:hover {
    color: #999;
}

.visitUs {
    text-decoration: none;
}

#upButtonDiv {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: small;
    color: rgb(255, 255, 255, 0.5);
}

#upButton {
    background-color: rgba(148, 144, 144, 0.5);
}

#upButton:hover {
    background-color: black;
    color: white;
}

.ReachOutIcon {
    text-decoration: none;
}

.ReachOutIcon:hover {
    text-decoration: underline;
}

.footerMap {
    border-radius: 2em;
    height: 120px;
    width: 130px;
}

#mapDiv {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* PROGRESS  */
/* PROGRESS  */
/* PROGRESS  */
/* PROGRESS  */

.progressHeader {
    display: flex;
    justify-self: flex-start;
}

.timeline-body p {
    font-size: 14px;
}

#timelineBig {
    display: flex;
    flex-direction: row;
}

#timelineBig h1 {
    margin-right: 3px;
}

@media(max-width:500px) {
    #timelineBig {
        display: flex;
        flex-direction: column;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
    display: table;
    content: " ";
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: rgb(255, 200, 0);
}

.timeline>li .timeline-image h4,
.timeline>li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
    text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* EDITED
EDITED
EDITED
EDITED */
@media (max-width: 768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline>.timeline-inverted {
        width: 100%;
    }


    .timeline>li .timeline-panel {
        float: left;
        width: 50%;
        padding-left: 1px;
        padding-right: 15px;
        text-align: right;
    }

    .timeline>li .timeline-panel>.timeline-body {
        text-align: left;
    }

    .timeline>li .timeline-image {
        left: 65%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li.timeline-inverted>.timeline-image {
        left: 30%;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        width: 63%;
        padding-left: 35px;
        padding-right: 3px;
        text-align: left;
    }

    .timeline>li.timeline-inverted>.timeline-panel>.timeline-heading,
    .timeline>li.timeline-inverted>.timeline-panel>.timeline-body {
        width: 100%;
        padding-left: 25px;
        padding-right: 1px;
    }

}
